@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap');

body{
    margin: 0;
    display: flex;
    font-family: 'josefin sans','open sans';
    justify-content: center;
    align-items: center;
    background-color: #d9edff;
}
.box>form{
    display: flex;
    flex-direction: column;
    
}
.box>form>div>input{
    width: 200px;
    margin-bottom: 15px;
    float: right;
    border-radius: 50px;
}
.box>form>div{
    position: relative;
}



.box>form>div>textarea{
    float: right;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 7px;
}
.box{
    position: relative;
    box-shadow: 5px 5px 8px gray;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#sub{
  position: relative;
  left: 50%;
  width: 125px;
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
  height: 25px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 20px;
  transform: translate(-50%);
}
#sub:hover{
    background-color: #3c9af1;
    cursor: pointer;
}
#languages{
    margin-left: 52px;
    height: 20px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
    padding: 0px;
    
    
}

h1{
    text-align: center;
    color: #5161ce;
    margin-bottom: 2px;
}
h6{
    margin-top: 0;
    text-align: center;
}
.box>form>div>label{
    margin-right: 12px;
}
#gnd{
    position: relative;
    margin-bottom: 15px;
}
#gnd>div{
    float: right;
    margin-right: 57px;
}
#notify{
    position: relative;
    margin-bottom: 20px;
    
}
#notify>div{
    float: right;
    margin-right: 70px;
    
    
}
#permissions{
    position: relative;
    margin-bottom: 20px;
    
    
}
.checkbox{
    float: right;
    margin-right: -30px;
    
    
}


.checkbox input[type="checkbox"] {
    display: inline-block;
    width: 20%; /* Adjust the width as needed */
    margin-right: 10px; /* Optional: Add spacing between checkboxes */
}

/* Optional: To style the labels */
.checkbox label {
    display: inline-block;
    width: 70%; /* Adjust the width as needed */
}




@media(max-width:425px) {
    .box>form>div>input{
        width: 100px;
    }
    .box>form>div>select{
        margin-right: 5px;
    }
    #gnd>div{
        margin-right: 5px;
    }
    ::placeholder{
        font-size: 10px;
    }
}