main {
    margin-top: 50px;
    margin-left: 250px;
    flex-grow: 1;
    padding: 10px;
    font-family: 'josefin sans', 'open sans';
  }
  
  /* class list section */
  .class-list {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: gray 5px 5px 13px;
    padding: 10px;
    padding-top: 20px;
    overflow-y: none ;
    height: 73vh;
  }

  .class-table {
    width: 100%;
    border-spacing: 10px;
  }
  .class-table th{
    text-align: left;
    padding: 10px;
  }
  .class-table td {
    text-align: left;
    padding: 10px;
  }
.teacher{
    border: 1px solid rgba(0, 0, 0, 0.844);
    height:195px;
    border-radius: 5px;
    overflow-y: scroll;
}
.teacher h3{
    margin-left: 10px;
}
   @media (max-width:768px) {
    main{
        margin-left: 255px;
    }
}
@media (max-width:551px) {
    main{
        margin-left:205px;
    }
}
@media (max-width:426px) {
    main{
        margin-left:52px;
    }
}

@media (max-width:391px) {
    main{
        margin-left:51px;
   }
   .class-list{
    font-size: x-small;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
   }
   .teacher{
    height: 50px;
   }
    }