@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap');
body{
    margin: 0;
}
/* sidebar start here */
.sidebar{
    background-color: #9C50CA;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 370px;
    position: relative;
}
.sidebar>img{
    padding: 5px;
}
ul{
    display: inline;
    padding: auto;
    margin: auto;
    text-decoration: none;
}
ul>i{
    display: flex;
    margin-top:50px;
    margin-left: 10px;
}
ul>img{
    height: 43px;
    width: 43px;
}
ul>i>li{
    text-decoration: none;
    list-style: none;
    font-family: 'josefin sans';
    margin-left: 10px;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    cursor: pointer;
}
ul>i>li>pre{
    text-decoration: none;
    list-style: none;
    font-family: 'josefin sans';
    margin-left: 10px;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    line-height: normal;
    color: white;
    cursor: pointer;
}
ul>i>li>a{
    text-decoration: none;
    color: white;
}
ul>i>li>pre>a{
    text-decoration: none;
    color: white;
}
.logout{
    margin-top: 20px;
    padding-bottom: 10px;
}
.active{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 340px;
    margin-left: 0;
    padding-left: 10px;
}
.active>li>a{
    color: #9C50CA;
}
.active>li{
    padding-top: 8px;
}
.active>li>pre>a{
    color: #9C50CA;
}
.active>li>pre{
    padding-top: 8px;
}
/* sidebar ends here */

/* searchbar start */
.srch{
    position: absolute;
    inset: 0;
    height: fit-content;
    left: 381px;
    margin-top: 10px;
    display:flex;
}
.srch>form>input{
    height: 33px;
    width: 770px;
    /* position: static; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}
.srchicon{
    background-color: #9C50CA;
    width: 50px;
    display: flex;
    height: 33px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}
.srchicon>div>img{
    width: 30px;
    padding: 3px;
    flex: 1;
    /* position: static; */
    height: 25px;
    margin-left: 10%;
}
.notipro{
    flex: 1;
    display: grid;
    margin-left: 50px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}
.notification{
    margin-left: 150px;
}
.notification>img{
    width: 30px;
    height: 30px;
}
.profile>img{
    width: 30px;
    height: 30px;
}
.profile{
   margin-left: 30px;
}