.module {
 --book:255px;
 border: 1px solid #ddd;
 border-radius: 10px;
 box-shadow: gray 5px 5px 12px;
 padding: 20px;
 font-family: 'josefin sans', 'open sans';
 margin-bottom: 20px;
 margin-right: 15px;
 margin-left: calc(var(--book));
}
.content{
    overflow: auto; /* Enable scrolling for main content */
    margin-top: 55px;
    position: relative;
}

.module h2 {
 color: #9C50CA;
 margin-bottom: 5px;
}

.module h3 {
 color: #9C50CA;
 margin-bottom: 10px;
}

.module p {
 margin-bottom: 15px;
}

.button {
 background-color: #9C50CA;;
 color: white;
 padding: 10px 15px;
 border: none;
 margin-top: 5px;
 border-radius: 5px;
 text-decoration: none;
}

.button:hover {
 background-color: #a457d3ea;;
}
::-webkit-scrollbar {
    width: 10px; /* Adjust width as needed */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Hide default track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust color as desired */
    border-radius: 5px; /* Apply rounded corners */
  }
  
@media (max-width:769px) {
    .module{
        margin-left: 255px;
    }
}
@media (max-width:551px) {
    .module{
        margin-left:205px;
    }
}
@media (max-width:426px) {
    .module{
        margin-left:52px;
    }
}

@media (max-width:391px) {
    .module{
        margin-left:51px;
    }
}