main {
    margin-top: 40px;
    margin-left: 250px;
    flex-grow: 1;
    padding: 10px;
    font-family: 'josefin sans', 'open sans';
  }
  
  /* announcement section */
  .announcement {
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
  }
  
  /* news list section */
  .news-list {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: gray 5px 5px 13px;
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
  }

  .news-table {
    width: 100%;
  }

  .news-table td {
    text-align: left;
    padding: 10px;
  }


  .announcement {
    border-radius: 10px;
    box-shadow: gray 5px 5px 13px;
  }
  
  .announcement-header {
    margin-bottom: 15px;
    margin-left: 10px;
  }
  
  .announcement-table {
    width: 100%;
  }

  
  .announcement-table td {
    text-align: left;
    padding: 10px;
  }

   @media (max-width:768px) {
    main{
        margin-left: 255px;
    }
}
@media (max-width:551px) {
    main{
        margin-left:205px;
    }
}
@media (max-width:426px) {
    main{
        margin-left:52px;
    }
}

@media (max-width:391px) {
    main{
        margin-left:51px;
   }
   .news-list{
    font-size: x-small;
    padding: 2px;
   }
   .button{
    font-size: xx-small;
   }
   .announcement{
    font-size: small;
   }
    }